@import '../../../../node_modules/susy/sass/susy';
$susy: ('columns': susy-repeat(48), 'gutters': 0, 'spread': 'narrow', 'container-spread': 'narrow', );



//colors


//fonts
$mainFontFamily: '';

//breakpoints

$tablet: 650px;
$maxMobile: $tablet - 1px;

$tabletLate: 768px;
$maxMobileLate: $tabletLate - 1px;

$desktop: 1200px;
$maxTablet: $desktop - 1px;


$containerCollapse: 1840px;
$maxRems: 1440px;


@function toRem($size) {
    $remSize: $size / 12 + rem;
    @return #{$remSize};
}

//$levels: (
//        purple: (toRem(16),toRem(20), toRem(24)),
//        yellow: (toRem(20),toRem(24), toRem(32)),
//        orange: (toRem(24),toRem(32), toRem(40)),
//        pink:   (toRem(48),toRem(64), toRem(72)),
//        blue:   (toRem(60),toRem(80), toRem(96)),
//        mint:   (toRem(72),toRem(104),toRem(128)),
//);
//
//@mixin marginLevel($direction,$color,$breakpoint) {
//    @each $levelColor, $pixels in $levels{
//        @if $levelColor == $color {
//            margin-#{$direction}: nth(map-get($levels, $levelColor),$breakpoint);
//        }
//    }
//}
//@mixin paddingLevel($direction,$color,$breakpoint) {
//    @each $levelColor, $pixels in $levels{
//        @if $levelColor == $color {
//            padding-#{$direction}: nth(map-get($levels, $levelColor),$breakpoint);
//        }
//    }
//}

//$tags: (
//        h1 :  (toRem(10), toRem(20), toRem(30), (toRem(15), toRem(25), toRem(35))),
//        h2 :  (toRem(10), toRem(10), toRem(10), (toRem(20), toRem(20), toRem(20))),
//        h3 :  (toRem(10), toRem(10), toRem(10), (toRem(20), toRem(20), toRem(20))),
//        h4 :  (toRem(10), toRem(10), toRem(10), (toRem(20), toRem(20), toRem(20))),
//        h5 :  (toRem(10), toRem(10), toRem(10), (toRem(20), toRem(20), toRem(20))),
//        h6 :  (toRem(10), toRem(10), toRem(10), (toRem(20), toRem(20), toRem(20))),
//        nav:  (toRem(10), toRem(10), toRem(10), (toRem(20), toRem(20), toRem(20))),
//        p1 :  (toRem(10), toRem(10), toRem(10), (toRem(20), toRem(20), toRem(20))),
//        p2 :  (toRem(10), toRem(10), toRem(10), (toRem(20), toRem(20), toRem(20))),
//        p3 :  (toRem(10), toRem(10), toRem(10), (toRem(20), toRem(20), toRem(20))),
//        p4 :  (toRem(10), toRem(10), toRem(10), (toRem(20), toRem(20), toRem(20))),
//);
//
//@mixin fontSize($name) {
//    @media (max-width: $maxMobile) {
//        @each $tagName, $tagValue in $tags{
//            @if $tagName == $name {
//                font-size: nth(map-get($tags, $tagName), 1);
//                line-height: nth(nth(map-get($tags, $tagName), 4), 1);
//            }
//        }
//    }
//    @media (min-width: $tablet) and (max-width: $maxTablet) {
//        @each $tagName, $tagValue in $tags{
//            @if $tagName == $name {
//                font-size: nth(map-get($tags, $tagName), 2);
//                line-height: nth(nth(map-get($tags, $tagName), 4), 2);
//            }
//        }
//    }
//    @media (min-width: $desktop) {
//        @each $tagName, $tagValue in $tags{
//            @if $tagName == $name {
//                font-size: nth(map-get($tags, $tagName), 3);
//                line-height: nth(nth(map-get($tags, $tagName), 4), 3);
//            }
//        }
//    }
//}